@using ChickenGang_Project.Models;
<link rel="stylesheet" href="~/Content/css/font-awesome.css"> <!-- Font-Awesome-Icons-CSS -->
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<div class="top-left">
    <div class="top-icons">
        <ul>
            @Html.Action("GioHangPartial", "GioHang")
            @if (Session["TaiKhoan"] == null)
            {
                <li><a href="#" onclick="document.getElementById('id01').style.display='block'">Đăng nhập </a></li>
                <li><a href="~/NguoiDung/DangKy">Đăng ký</a></li>

            }
            else
            {
                ThanhVien tv = (ThanhVien)Session["TaiKhoan"];
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Chào @tv.HoTen <i class="fa-solid fa-caret-down"></i>
                    </a>
                    <div class="dropdown-menu " aria-labelledby="navbarDropdown" style="background-color:#000; min-width:200px;">
                        <a class="dropdown-item" href="@Url.Action("Edit", "NguoiDung", new { @id = tv.MaThanhVien })" style="font-size:20px; margin: 16px;">Thay đổi thông tin</a>
                        <br />
                        <a class="dropdown-item" href="@Url.Action("ChangePassword", "NguoiDung",new { @id = tv.MaThanhVien })" style="font-size:20px; margin: 16px;">Đổi mật khẩu</a>

                        <br />
                        <a class="dropdown-item" href="@Url.Action("DangXuat", "NguoiDung")" style="font-size: 20px; margin: 16px;">Đăng xuất</a>
                    </div>
                </li>
            }

        </ul>
    </div>
    <div class="top-nav">
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <!-- navbar-header -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <nav class="linkEffects linkHoverEffect_2">
                    <ul>
                        <li><a href="~/Home/Index" data-link-alt="Trang chủ" class=""><span>Trang chủ</span></a></li>
                        <li><a href="~/SanPham/D_SanPham" data-link-alt="Sản phẩm"><span>Sản phẩm</span></a></li>
                        <li><a href="~/SanPham/NewFood" data-link-alt="Món mới"><span>Món mới</span></a></li>
                        <li><a href="~/Home/AboutUs" data-link-alt="About Us"><span>About Us</span></a></li>
                        <li><a href="#contact" data-link-alt="Liên hệ" class="scroll"><span>Liên hệ</span></a></li>
                    </ul>
                </nav>
            </div>
            <div class="clearfix"> </div>
        </nav>
    </div>
    <div class="clearfix"> </div>
    <!-- //navigation -->
</div>

<!-- Form Login -->

<div id="id01" class="modal">
    <span onclick="document.getElementById('id01').style.display='none'"
          class="close" title="Close Modal">
    </span>
    @using (Ajax.BeginForm("DangNhap", "NguoiDung", new AjaxOptions { HttpMethod = "Post", InsertionMode = InsertionMode.Replace, UpdateTargetId = "ThongBao2" }))
    {
        <div class="modal-content animate">


            <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">X</button>

            <div class="imgcontainer">
                <p>Đăng nhập</p>

            </div>

            <div class="container">
                <label for="uname"><b>Tên đăng nhập</b></label>
                <input type="text" placeholder="Enter Username" name="uname" required>

                <label for="psw"><b>Mật khẩu</b></label>
                <input type="password" placeholder="Enter Password" name="psw" required>

                <Center><h3 style="color:red;" id="ThongBao2"></h3></Center>


                <h3 style="font-weight:bold; color:red; text-align:center;" id="ThongBao2"></h3>
                <button type="submit" id="btnDangNhap">Login</button>
                <div class="col-md-6">
                    <button type="button" style="background-color: #042baa;"><a href="~/NguoiDung/LoginFacebook"><i class="fa fa-facebook" style="display: flex; font-size: 20px; margin-left: 130px;"><p style="margin-left:4px;font-size:20px;color:white;">Đăng nhập với Facebook</p></i></a></button>
                </div>

                <div class="col-md-6">
                    <button type="button" style="background-color: #FF7F00;"><a href="~/NguoiDung/RedirectToGoogle"><i class="fa fa-google-plus" style="display: flex; font-size: 20px; margin-left: 130px;"><p style="margin-left: 4px; font-size: 20px; color: white;">Đăng nhập với Facebook</p></i></a></button>

                </div>
                @*<label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>*@
            </div>

            <div class="container" style="background-color:#f1f1f1">
                <button type="button" class="cancelbtn" style="background-color: #04AA6D;"><a href="~/NguoiDung/DangKi" style="text-decoration:none; color:#fff">Đăng kí</a></button>

                <span class="psw">Forgot <a href="#">password?</a></span>
            </div>

        </div>
    }

</div>

